<div class="background-element big-circle " style="top: -7em; left:-7em;"></div>
<div class="background-element big-circle" style="bottom: -7em; left:-7em;"></div>
<div class="background-element big-circle" style="top: 30%;right: -7.5em;"></div>
<div class="background-element small-circle" style="left: 30%;bottom: 0;"></div>
<div class="background-element small-circle" style="right: 30%;top: 8em;"></div>
<div class="background-element big-circle" style="right: 10%;bottom: -10em; "></div>
<div class="background-element big-circle" style="right: -5em;top: -15em; "></div>
